[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */ }

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: inherit;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto; }

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6; }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F1F3F5;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #051022;
  min-width: 1810px; }
  body > * {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

ul {
  list-style: none; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 100; }

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff; }

img {
  max-width: 100%; }

.container {
  width: 1810px;
  margin: 0 auto;
  padding: 0 20px; }
  .container--flex-grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .container--flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.page-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px; }

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%; }

.logo {
  width: 80px;
  display: block;
  margin-right: 30px; }

.logo-notariate {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px; }

.logo-region {
  font-size: 18px; }

.alice-block {
  margin: 0 auto; }

.alice-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-tap-highlight-color: transparent; }
  .no-touch .alice-btn:hover .alice-icon, .touch .alice-btn:active .alice-icon {
    color: white;
    fill: #286EB7; }

.alice-icon {
  color: #8c98a3;
  fill: #e0e6ea;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.time-block {
  width: 25%;
  text-align: right; }

.date {
  color: #61636B;
  font-size: 16px; }

.time {
  font-size: 54px;
  line-height: 1; }

.main-heading-block {
  text-align: center;
  margin-top: 50px; }

.main-heading {
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 0.03em;
  line-height: 1.1; }
  .main-heading--left-aligned {
    text-align: left; }

.action {
  font-size: 27px;
  color: #8C98A3;
  margin-top: 5px; }

.services-list {
  margin: 0 -15px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .services-list--centered {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 0;
    margin-bottom: -30px;
    padding: 20px 0; }

.service-item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px; }

.service-card {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  min-height: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  padding-bottom: 30px;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .service-card:link, .service-card:visited {
    color: #051022; }
  .no-touch .service-card:hover, .touch .service-card:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }

.service-card-text {
  font-size: 24px; }

.service-card-icon {
  margin-left: auto;
  margin-top: auto; }

.footer-row {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.technical-support {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.technical-support-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: transparent; }
  .no-touch .technical-support-link:hover .technical-support-icon, .touch .technical-support-link:active .technical-support-icon {
    fill: #286EB7; }

.technical-support-icon {
  fill: #61636B;
  margin-right: 12px;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s; }

.technical-support-text {
  color: #8C98A3;
  font-size: 20px; }

.developers {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.developers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .no-touch .developers-link:hover .developers-icon, .touch .developers-link:active .developers-icon {
    fill: #286EB7; }

.developers-text {
  font-size: 20px;
  color: #8C98A3; }

.developers-icon {
  margin-right: 12px;
  fill: #61636B;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s; }

.footer-buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-button {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  border-radius: 50px;
  background-color: #286EB7;
  color: white;
  padding: 18px 10px;
  margin: 0 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .footer-button:link, .footer-button:visited {
    color: white; }
  .no-touch .footer-button:hover, .touch .footer-button:active {
    background-color: #004185; }

.footer-button-icon {
  margin-right: 10px;
  fill: white; }

.notary-table-wrapper {
  margin-top: auto;
  padding-top: 20px;
  position: relative; }
  .notary-table-wrapper::after {
    content: '';
    width: 100vw;
    height: 50px;
    position: absolute;
    left: calc(-1 * (100vw - 100%) / 2);
    bottom: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f1f3f5), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to top, #f1f3f5, rgba(255, 255, 255, 0));
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 99;
    pointer-events: none; }
  .notary-table-wrapper.need-top-gradient::before {
    content: '';
    position: absolute;
    height: 70px;
    right: 100px;
    width: calc(100% - 80px);
    top: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f3f5), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to bottom, #f1f3f5, rgba(255, 255, 255, 0));
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 150;
    pointer-events: none; }
  .notary-table-wrapper.gradient-shown::after {
    opacity: 1; }
  .notary-table-wrapper.top-gradient-shown::before {
    opacity: 1; }
  .notary-table-wrapper.gradient-after-search::before {
    content: '';
    position: absolute;
    height: 150px;
    right: 70px;
    width: calc(100% - 70px);
    top: 20px;
    background-image: linear-gradient(to bottom, #f1f3f5 100px, rgba(255, 255, 255, 0));
    opacity: 1;
    z-index: 40;
    pointer-events: none; }

.notary-table-padding-wrapper {
  height: 55.5vh;
  width: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch; }
  .notary-table-padding-wrapper--action {
    margin-left: -30px;
    padding-left: 30px; }

.notary-table {
  width: 100%;
  padding-right: 90px; }
  .notary-table--symmetrical {
    padding-left: 90px; }
  .notary-table--description {
    padding-left: 170px;
    padding-right: 170px; }
  .notary-table > table {
    width: 100%;
    border-collapse: collapse;
    text-align: left; }
    .notary-table > table thead th {
      background-color: #61636B;
      color: white;
      font-weight: 700;
      font-size: 22px;
      padding: 20px 35px;
      position: -webkit-sticky;
      position: sticky;
      top: 0; }
    .notary-table > table tbody td {
      color: #61636B;
      font-size: 18px; }
      .notary-table > table tbody td a {
        padding: 22px 35px;
        width: 100%; }
    .notary-table > table tbody tr:nth-child(even) td {
      background-color: #e0e6ea; }

.notary-name {
  display: block; }
  .notary-name:link, .notary-name:visited {
    color: #61636B; }

.notary-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .notary-address:link, .notary-address:visited {
    color: #61636B; }

.notary-address-icon {
  margin-right: 12px; }

.notary-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .notary-phone:link, .notary-phone:visited {
    color: #61636B; }

.notary-phone-icon {
  margin-right: 12px; }

.work-regime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .work-regime:link, .work-regime:visited {
    color: #61636B; }

.notary-time-icon {
  margin-right: 12px; }

.simplebar-track.simplebar-vertical {
  margin-right: 40px;
  width: 6px;
  background-color: #e0e6ea; }

.simplebar-scrollbar {
  width: auto;
  left: 0;
  right: 0; }

.simplebar-scrollbar:before {
  border-radius: 0;
  background-color: #286EB7; }

.ps__rail-y {
  width: 6px;
  opacity: 1;
  right: 35px;
  margin-bottom: 70px; }

.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y {
  opacity: 1; }

.ps__thumb-y {
  right: 0;
  background-color: #286EB7;
  width: 58px;
  border-radius: 50%;
  margin-right: -26px; }
  .ps__thumb-y::before {
    content: '';
    width: 16px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -8px;
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath fill='white' d='M13.71 6.29l-6-6a1 1 0 0 0-1.42 0l-6 6a1 1 0 0 0 1.42 1.42L7 2.41l5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
  .ps__thumb-y::after {
    content: '';
    width: 16px;
    height: 14px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -8px;
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath fill='white' d='M13.71 6.29l-6-6a1 1 0 0 0-1.42 0l-6 6a1 1 0 0 0 1.42 1.42L7 2.41l5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  background-color: #e0e6ea; }

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background-color: #e0e6ea; }

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  width: 58px;
  right: 0;
  background-color: #286EB7; }

.fullheight-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 1; }
  .fullheight-layout::before {
    content: '';
    position: absolute;
    left: 67%;
    bottom: 0;
    height: calc(100vh - 130px);
    right: calc(-1 * (100vw - 100%) / 2);
    z-index: -1;
    background-image: url("../img/nav-right.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.fullheight-layout-left {
  min-height: 100px;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.fullheight-layout-right {
  width: 33%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.info-table {
  margin: auto 0; }
  .info-table table {
    border-collapse: collapse;
    text-align: left; }
    .info-table table th {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      padding: 15px 0;
      padding-right: 70px; }
    .info-table table td {
      font-size: 22px;
      padding: 15px 0;
      color: #61636B; }

.nav-right {
  margin: auto;
  margin-right: 0;
  width: 87%;
  padding: 20px 0; }

.nav-right-item {
  margin-bottom: 30px;
  display: block; }
  .nav-right-item:last-child {
    margin-bottom: 0; }

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-size: 24px;
  padding: 35px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .nav-link .icon {
    margin-right: 30px; }
  .nav-link:link, .nav-link:visited {
    color: #051022; }
  .no-touch .nav-link:hover, .touch .nav-link:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }

.search-panel {
  width: 100%;
  background-color: #fff;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #e0e6ea;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 150; }

.search-panel-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.search-panel-results {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 15px;
  border-radius: 20px;
  padding: 70px 80px;
  padding-right: 30px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  z-index: 200;
  -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  opacity: 0;
  visibility: hidden; }
  .search-panel-results.shown {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

.search-panel-results-heading {
  font-size: 27px;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: relative;
  z-index: 10; }

.search-panel-results-list {
  margin-top: -20px;
  position: relative;
  height: 250px;
  padding-top: 40px; }
  .search-panel-results-list .ps__rail-y {
    margin-bottom: 0;
    z-index: 20; }
  .search-panel-results-list-item {
    margin-bottom: 20px; }
    .search-panel-results-list-item:last-child {
      margin-bottom: 0; }

.search-panel-gradient-wrapper {
  position: relative; }
  .search-panel-gradient-wrapper::before {
    content: '';
    width: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    height: 60px;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, white 15px, rgba(255, 255, 255, 0)); }
  .search-panel-gradient-wrapper::after {
    content: '';
    width: 100%;
    z-index: 5;
    left: 0;
    bottom: 0;
    height: 60px;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to top, white 15px, rgba(255, 255, 255, 0));
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .search-panel-gradient-wrapper.gradient-shown::after {
    opacity: 1; }

.search-panel-results-link {
  font-size: 24px;
  color: #051022;
  display: block; }
  .search-panel-results-link:link, .search-panel-results-link:visited {
    color: #051022; }

.search-form-label {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-right: 10px; }
  .search-form-label .icon {
    fill: #e0e6ea; }

.search-form-input {
  border: none;
  -webkit-appearance: none;
  background-color: transparent;
  font: inherit;
  font-size: 24px;
  color: #051022;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: none;
  -ms-flex-item-align: stretch;
      align-self: stretch; }
  .search-form-input::-webkit-input-placeholder {
    color: #8C98A3; }
  .search-form-input:-moz-placeholder {
    color: #8C98A3; }
  .search-form-input::-moz-placeholder {
    color: #8C98A3; }
  .search-form-input:-ms-input-placeholder {
    color: #8C98A3; }

.search-form-voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px; }
  .search-form-voice .icon {
    fill: #8C98A3;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s; }
  .search-form-voice:hover .icon, .search-form-voice:focus .icon {
    fill: #61636b; }

.search-form-submit {
  outline: none;
  background-color: #286EB7;
  color: white;
  font-size: 22px;
  border-radius: 50px;
  padding: 16px 44px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .search-form-submit:hover, .search-form-submit:focus {
    background-color: #004185; }

.notary-alphabet {
  margin-top: 60px;
  width: 100%; }

.letter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60px; }
  .letter-block::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e0e6ea; }

.letter {
  font-weight: 700;
  font-size: 36px;
  margin-left: -90px;
  position: absolute;
  right: 100%;
  margin-right: 60px; }

.alphabetic-notary-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 5px;
  margin-bottom: -25px; }

.alphabetic-notary-item {
  width: 20%;
  padding: 0 15px;
  margin-bottom: 30px; }

.alphabetic-notary-card {
  background-color: #fff;
  border-radius: 20px;
  min-height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .no-touch .alphabetic-notary-card:hover, .touch .alphabetic-notary-card:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }

.alphabetic-notary-region {
  font-size: 22px;
  color: #051022;
  display: block;
  margin-bottom: 5px; }

.alphabetic-notary-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C98A3;
  font-size: 16px; }
  .alphabetic-notary-count .icon {
    margin-right: 10px;
    fill: #8C98A3; }

.resources-wrapper {
  width: 100%;
  margin: auto; }

.resources-list {
  margin: 0 -15px;
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.resources-item {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 25%; }

.resources-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 30px;
  font-size: 24px;
  min-height: 198px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .resources-card:link, .resources-card:visited {
    color: #051022; }
  .no-touch .resources-card:hover, .touch .resources-card:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }
  .resources-card .icon {
    fill: #8C98A3;
    margin-top: auto;
    margin-left: auto; }

.frame-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }
  .frame-wrapper iframe {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.control {
  margin: auto;
  width: 39.2%;
  padding: 20px 0; }

.control-item {
  margin-bottom: 30px; }
  .control-item:last-child {
    margin-bottom: 0; }

.control-link {
  font-size: 24px;
  color: #051022;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  padding: 40px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .control-link:link, .control-link:visited {
    color: #051022; }
  .no-touch .control-link:hover, .touch .control-link:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }

.control-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C98A3;
  font-size: 16px;
  margin-top: 12px; }
  .control-website svg {
    margin-right: 12px;
    fill: #8C98A3; }

.actions {
  margin: 0 -15px;
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  counter-reset: actions-counter; }

.action-item {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 20%;
  counter-increment: actions-counter; }

.action-card {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 230px;
  color: #051022;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 25px 30px; }
  .action-card::after {
    content: counter(actions-counter, upper-roman);
    margin-top: auto;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    line-height: 1;
    color: #e0e6ea; }
  .action-card:link, .action-card:visited {
    color: #051022; }
  .no-touch .action-card:hover, .touch .action-card:active {
    -webkit-box-shadow: 0 0 0 rgba(25, 70, 102, 0.15);
            box-shadow: 0 0 0 rgba(25, 70, 102, 0.15); }

.description {
  background-color: #fff;
  padding: 65px 75px;
  margin-bottom: 75px; }
  .description h2,
  .description h3,
  .description h4 {
    font-size: 27px;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 30px; }
  .description p {
    color: #61636B;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px; }

.tariffs-accordeon {
  background-color: #fff;
  border-radius: 20px;
  color: #051022;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15);
          box-shadow: 0 10px 15px rgba(25, 70, 102, 0.15); }

.tariffs-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  font-size: 24px;
  -webkit-tap-highlight-color: transparent; }
  .tariffs-title:link, .tariffs-title:visited {
    color: #051022; }

.tariffs-cross {
  margin-left: auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .tariffs-cross > span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .tariffs-cross > span:nth-child(1) {
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #8C98A3;
      border-radius: 2px;
      margin-left: -20px;
      margin-top: -1.5px;
      height: 3px;
      width: 100%; }
    .tariffs-cross > span:nth-child(2) {
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #8C98A3;
      border-radius: 2px;
      margin-left: -20px;
      margin-top: -1.5px;
      height: 3px;
      width: 100%; }

.tariffs-accordeon-content {
  padding: 35px;
  padding-top: 15px;
  display: none; }
  .tariffs-accordeon-content table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left; }
    .tariffs-accordeon-content table th,
    .tariffs-accordeon-content table td {
      width: 50%;
      border: 1px solid #61636B; }
    .tariffs-accordeon-content table th {
      background-color: #61636B;
      color: white;
      padding: 10px 30px;
      font-size: 21px;
      font-weight: 700; }
    .tariffs-accordeon-content table td {
      font-size: 18px;
      padding: 24px 30px; }
      .tariffs-accordeon-content table td:nth-child(1) {
        background-color: #e0e6ea;
        color: #051022; }
      .tariffs-accordeon-content table td:nth-child(2) {
        background-color: white;
        color: #8C98A3; }

.tariffs-accordeon.open .tariffs-cross > span:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.tariffs-accordeon.open .tariffs-cross > span:nth-child(2) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.review {
  background-color: #e0e6ea;
  padding: 70px 75px;
  margin-bottom: 75px; }

.review-left-column {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.review-right-column {
  width: 37%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.review-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.review-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.review-text-label,
.review-get-code-text,
.review-score-text {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 14px;
  display: block; }

.review-text-input {
  border: none;
  background-color: #fff;
  -webkit-appearance: none;
  border-radius: 50px;
  padding: 22px 30px;
  font: inherit;
  font-size: 18px;
  outline: none;
  color: #051022; }
  .review-text-input--name {
    width: 100%; }
  .review-text-input--phone {
    width: 100%;
    color: #8C98A3;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .review-text-input--phone:focus {
      color: #051022; }
  .review-text-input--code {
    width: 330px; }
  .review-text-input::-webkit-input-placeholder {
    color: #8C98A3; }
  .review-text-input:-moz-placeholder {
    color: #8C98A3; }
  .review-text-input::-moz-placeholder {
    color: #8C98A3; }
  .review-text-input:-ms-input-placeholder {
    color: #8C98A3; }

.review-form-row {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .review-form-row:last-child {
    margin-bottom: 0; }

.review-get-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.review-get-code-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8C98A3;
  color: white;
  font-size: 22px;
  padding: 20px 30px;
  border-radius: 50px; }

.review-code {
  width: 160px; }

.review-code-send {
  display: block;
  cursor: pointer; }
  .review-code-send .icon {
    fill: white;
    display: block; }

.review-code-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px; }

.review-score-radio-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.review-score-radio-group {
  margin-right: 20px; }
  .review-score-radio-group:last-child {
    margin-right: 0; }

.review-radio-label {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .review-radio-label .icon {
    fill: #8C98A3;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s; }
  .review-radio-label--good {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 176, 39, 0.4);
            box-shadow: 0px 0px 0px rgba(0, 176, 39, 0.4); }
  .review-radio-label--bad {
    -webkit-box-shadow: 0px 0px 0px rgba(249, 79, 31, 0.4);
            box-shadow: 0px 0px 0px rgba(249, 79, 31, 0.4); }

.review-radio-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.review-radio-input:checked + .review-radio-label--good {
  background-color: #00b027;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 176, 39, 0.4);
          box-shadow: 0px 10px 15px rgba(0, 176, 39, 0.4); }
  .review-radio-input:checked + .review-radio-label--good .icon {
    fill: white; }

.review-radio-input:checked + .review-radio-label--bad {
  background-color: #f94f1f;
  -webkit-box-shadow: 0px 10px 15px rgba(249, 79, 31, 0.4);
          box-shadow: 0px 10px 15px rgba(249, 79, 31, 0.4); }
  .review-radio-input:checked + .review-radio-label--bad .icon {
    fill: white; }

.review-fullwidth-column {
  width: 100%; }

.review-textarea {
  width: 100%;
  resize: none;
  height: 150px;
  font: inherit;
  background-color: #fff;
  padding: 22px 30px;
  -webkit-appearance: none;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  outline: none; }
  .review-textarea::-webkit-input-placeholder {
    color: #8C98A3; }
  .review-textarea:-moz-placeholder {
    color: #8C98A3; }
  .review-textarea::-moz-placeholder {
    color: #8C98A3; }
  .review-textarea:-ms-input-placeholder {
    color: #8C98A3; }

.review-submit {
  margin-left: auto;
  color: white;
  background-color: #286EB7;
  font-size: 24px;
  border-radius: 50px;
  padding: 22px 60px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent; }
  .no-touch .review-submit:hover, .touch .review-submit:active {
    background-color: #004185; }
