@mixin container() {
  width: $container-width + 40px;
  margin: 0 auto;
  padding: 0 20px;
  
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@mixin noHighlight() {
  -webkit-tap-highlight-color: transparent;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin objectFitCover() {
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
}

@mixin objectFitCoverTop() {
  object-fit: cover;
  object-position: top;
  font-family: 'object-fit: cover; object-position: top;';
}

@mixin objectFitContain() {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}
