// Colors

$light-grey: #F1F3F5;
$primary-blue: #286EB7;
$medium-grey: #61636B;
$lighter-grey: #8C98A3;
$deep-blue: #004185;
$dark-blue: #051022;
 

// Fonts
 
$primary-font: 'Roboto', sans-serif;


// Widths

$container-width: 1770px;




